<!DOCTYPE HTML>
<html>
	<head>
		<title>Installation</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="templates/css/main.css" />
		<link rel="stylesheet" href="templates/css/HoldOn.css" />
	</head>
	<body>
		<div class="container">
		  <div id="contact">
				<div id="state">
					<h1 id="response"></h1>
				</div>
				<br>
				<a id="redirect"></a>
				<div id="field">
					<h3>Installation</h3>
					<br>
					<fieldset>
						<input id="uhost" placeholder="Host Name" type="text" tabindex="1" value="localhost" required autofocus>
					</fieldset>
					<fieldset>
						<input id="uname" placeholder="Your name" type="text" tabindex="1" required autofocus>
					</fieldset>
		    	<fieldset>
		      	<input id="uemail" placeholder="Your Email" type="email" tabindex="2" required>
		    	</fieldset>
		    	<fieldset>
		      	<input id="uadmin" placeholder="Admin Username" type="text" tabindex="3" required>
		    	</fieldset>
		    	<fieldset>
		      	<input id="uadminpassword" placeholder="Password" type="password" tabindex="4" required>
		    	</fieldset>
		    	<fieldset>
		      	<input id="udatabase" placeholder="Database Username" type="text" tabindex="4" value="root" required>
		    	</fieldset>
					<fieldset>
						<input id="udatabasepassword" placeholder="Database Password" type="password" tabindex="4">
					</fieldset>
					<fieldset>
						<input id="udatabasetablename" placeholder="Database Table Name" type="text" tabindex="4" value="iitpConnect" required>
					</fieldset>
		    	<fieldset>
		      	<button id="install">Install</button>
		    	</fieldset>
				</div>
		  </div>
		</div>
	</body>
	<script src="templates/js/main.js"></script>
	<script src="templates/js/HoldOn.js"></script>
	<script src="templates/js/sha512.js"></script>
</html>
